Note: you may need to restart the kernel to use updated packages.

'grep' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
pip install requests

Collecting requests
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
                                              0.0/62.6 kB ? eta -:--:--
     ---------------------------------------- 62.6/62.6 kB 1.7 MB/s eta 0:00:00
Collecting charset-normalizer<4,>=2 (from requests)
  Downloading charset_normalizer-3.2.0-cp311-cp311-win_amd64.whl (96 kB)
                                              0.0/96.6 kB ? eta -:--:--
     -------------------------                61.4/96.6 kB 1.7 MB/s eta 0:00:01
     --------------------------------------   92.2/96.6 kB 1.3 MB/s eta 0:00:01
     -------------------------------------- 96.6/96.6 kB 918.3 kB/s eta 0:00:00
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.4)
Collecting urllib3<3,>=1.21.1 (from requests)
  Downloading urllib3-2.0.3-py3-none-any.whl (123 kB)
                                              0.0/123.6 kB ? eta -:--:--
     ---------                               30.7/123.6 kB 1.3 MB/s eta 0:00:01
     -------------------------               81.9/123.6 kB 1.1 MB/s eta 0:00:01
     -----------------------------------  122.9/123.6 kB 901.1 kB/s eta 0:00:01
     ------------------------------------ 123.6/123.6 kB 726.8 kB/s eta 0:00:00
Collecting certifi>=2017.4.17 (from requests)
  Downloading certifi-2023.5.7-py3-none-any.whl (156 kB)
                                              0.0/157.0 kB ? eta -:--:--
     -------------------------------------  153.6/157.0 kB 3.1 MB/s eta 0:00:01
     -------------------------------------- 157.0/157.0 kB 1.9 MB/s eta 0:00:00
Installing collected packages: urllib3, charset-normalizer, certifi, requests
Successfully installed certifi-2023.5.7 charset-normalizer-3.2.0 requests-2.31.0 urllib3-2.0.3
Note: you may need to restart the kernel to use updated packages.

In [55]:
import pandas as pd
import requests

In [2]:
storedata=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=b375209d79c0875d0df3a3d9f382d0a8&language=en-US&page=1')

NameError: name 'requests' is not defined

In [1]:
data=storedata.json()
data

NameError: name 'storedata' is not defined

In [17]:
moviedf=pd.DataFrame(storedata.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [18]:
moviedf

,id,title,overview,release_date,popularity,vote_average,vote_count
0,455476,Knights of the Zodiac,"When a headstrong street orphan, Seiya, in sea...",2023-04-27,3362.234,6.6,348
1,385687,Fast X,Over many missions and against impossible odds...,2023-05-17,3202.443,7.4,2479
2,447365,Guardians of the Galaxy Vol. 3,"Peter Quill, still reeling from the loss of Ga...",2023-05-03,2239.681,8.1,2467
3,254128,San Andreas,In the aftermath of a massive earthquake in Ca...,2015-05-27,2234.498,6.2,7731
4,445651,The Darkest Minds,After a disease kills 98% of America's childre...,2018-07-25,1873.062,7.0,2448
5,406563,Insidious: The Last Key,Parapsychologist Elise Rainier and her team tr...,2018-01-03,1640.360,6.2,2486
6,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,1573.313,8.5,2093
7,603692,John Wick: Chapter 4,"With the price on his head ever increasing, Jo...",2023-03-22,1507.498,7.9,3559
8,502356,The Super Mario Bros. Movie,"While working underground to fix a water main,...",2023-04-05,1402.819,7.8,5458
9,667538,Transformers: Rise of the Beasts,When a new threat capable of destroying the en...,2023-06-06,1385.190,7.3,587
10,47964,A Good Day to Die Hard,"Iconoclastic, take-no-prisoners cop John McCla...",2013-02-06,1341.697,5.3,5901
11,976573,Elemental,"In a city where fire, water, land and air resi...",2023-06-14,1283.020,7.5,380
12,614479,Insidious: The Red Door,"To put their demons to rest once and for all, ...",2023-07-05,1219.176,6.4,52
13,664767,Mortal Kombat Legends: Scorpion's Revenge,After the vicious slaughter of his family by s...,2020-04-12,1218.242,8.2,1228
14,1103825,War of the Worlds: The Attack,Three young astronomers fight to survive a dea...,2023-04-21,1210.631,3.6,13
15,697843,Extraction 2,Tasked with extracting a family who is at the ...,2023-06-09,1186.015,7.6,1219
16,423108,The Conjuring: The Devil Made Me Do It,Paranormal investigators Ed and Lorraine Warre...,2021-05-25,1128.141,7.5,5173
17,1070802,Confidential Informant,During a crack epidemic two narcotics agents h...,2023-06-27,1119.723,5.8,25
18,396263,Gantz:O,After being brutally murdered in a subway stat...,2016-10-14,1005.320,7.3,643
19,841755,Mortal Kombat Legends: Battle of the Realms,The Earthrealm heroes must journey to the Outw...,2021-08-31,900.665,7.8,366

In [19]:
moviedf.to_csv("G:\data enginner project\movie_population_api\movie_population2.csv")

In [20]:
moviedf.nunique()

id              20
title           20
overview        20
release_date    20
popularity      20
vote_average    16
vote_count      20
dtype: int64

In [21]:
dff=pd.DataFrame()
dff

Empty DataFrame
Columns: []
Index: []

In [31]:
for i in range(1,200):
    storedata=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=b375209d79c0875d0df3a3d9f382d0a8&language=en-US&page={}'.format(i))
    tempdata=pd.DataFrame(storedata.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    #df_data = dff.concat(tempdata,ignore_index=True)
    dff = pd.concat([tempdata, pd.DataFrame(['results'])], ignore_index=True)

In [34]:
dff

,id,title,overview,release_date,popularity,vote_average,vote_count,0
0,463116.0,The Stolen Princess,This wonderful story happened in the age of va...,2018-03-07,20.987,6.8,122.0,NaN
1,1255.0,The Host,A teenage girl is captured by a giant mutated ...,2006-07-27,20.984,7.0,2447.0,NaN
2,334533.0,Captain Fantastic,A father living in the forests of the Pacific ...,2016-07-08,20.983,7.9,5926.0,NaN
3,21316.0,Leroy & Stitch,"Lilo, Stitch, Jumba, and Pleakley have finally...",2006-06-23,20.976,6.6,448.0,NaN
4,921355.0,Assassin,A private military operation invents futuristi...,2023-03-31,20.975,6.0,37.0,NaN
5,814340.0,Cha Cha Real Smooth,Fresh out of college and stuck at his New Jers...,2022-06-17,20.975,7.1,217.0,NaN
6,535.0,Flashdance,"Alex Owens, a teen juggling between two odd jo...",1983-04-14,20.974,6.5,1280.0,NaN
7,90.0,Beverly Hills Cop,A freewheeling Detroit cop pursuing a murder i...,1984-12-05,20.974,7.2,3558.0,NaN
8,335778.0,Risen,"Clavius, a powerful Roman military tribune, an...",2016-02-18,20.970,6.2,749.0,NaN
9,16664.0,All About Lily Chou-Chou,Charts the troubled teenage years of students ...,2001-10-06,20.967,7.3,174.0,NaN
10,949977.0,X-Deal 2,"In an island, a young couple, Emily and Peter,...",2022-03-25,20.962,7.3,7.0,NaN
11,560050.0,Over the Moon,"In this animated musical, a girl builds a rock...",2020-10-16,20.962,7.2,1175.0,NaN
12,44730.0,One Piece: Giant Mecha Soldier of Karakuri Castle,"The Straw Hats visits an island, known as Mech...",2006-03-04,20.956,7.0,140.0,NaN
13,5123.0,August Rush,"Lyla and Louis, a singer and a musician, fall ...",2007-11-21,20.955,7.4,2486.0,NaN
14,1002370.0,Dating the Delaneys,Three generations of Delaney women explore the...,2022-08-20,20.945,7.5,13.0,NaN
15,662546.0,Godmothered,A young and unskilled fairy godmother that ven...,2020-12-04,20.941,6.9,537.0,NaN
16,193610.0,The Other Woman,"After discovering her boyfriend is married, Ca...",2014-04-16,20.936,6.4,3304.0,NaN
17,292610.0,Ladies' Doctor,"Dr. Lo Bianco, debt load, flees abroad and the...",1977-09-13,20.931,4.3,11.0,NaN
18,270771.0,The Last Survivors,"In the near future, society collapses and wate...",2014-06-12,20.928,6.3,185.0,NaN
19,314405.0,Tale of Tales,The Queen of Selvascura risks everything to be...,2015-05-14,20.927,6.4,1521.0,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,results

In [52]:
df1=pd.DataFrame()
df1

Empty DataFrame
Columns: []
Index: []

In [65]:
for i in range(1,400):
    storedata=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=b375209d79c0875d0df3a3d9f382d0a8&language=en-US&page={}'.format(i))
    tempdata1=pd.DataFrame(storedata.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    #df_data = df1.append(tempdata1,ignore_index=True)
    df = pd.concat([df1, pd.DataFrame(['results'])], ignore_index=True)

In [66]:
df_data

,id,title,overview,release_date,popularity,vote_average,vote_count,0
0,10295.0,Miami Supercops,"In 1978, $20 million was stolen from a Detroit...",1985-12-12,13.289,6.4,359.0,NaN
1,639557.0,Cliff Walkers,"In the puppet state of Manchukuo in the 1930s,...",2021-04-30,13.288,6.8,64.0,NaN
2,15573.0,The Cowboys,When his cattlemen abandon him for the gold fi...,1972-01-13,13.288,7.2,201.0,NaN
3,557946.0,Last Looks,A disgraced ex-cop seeks solace by moving to t...,2022-01-27,13.286,6.0,233.0,NaN
4,424488.0,Megan Leavey,The true story of Marine Corporal Megan Leavey...,2017-06-09,13.286,7.3,696.0,NaN
5,4241.0,Visitor Q,In a dysfunctional family where the mother is ...,2001-03-17,13.286,6.4,439.0,NaN
6,575769.0,4x4,"Buenos Aires, Argentina. A luxurious van is pa...",2019-04-04,13.284,6.4,102.0,NaN
7,4174.0,Spellbound,When Dr. Anthony Edwardes arrives at a Vermont...,1945-11-08,13.283,7.5,762.0,NaN
8,32043.0,The Guardian,Phil and Kate select the winsome young Camilla...,1990-04-27,13.282,5.7,156.0,NaN
9,184219.0,Pee Mak,"Mak's friends just want to protect him, but hi...",2013-03-28,13.281,7.3,105.0,NaN
10,19084.0,Johnson Family Vacation,"Nate Johnson, a Los Angeles man estranged from...",2004-04-07,13.279,5.5,163.0,NaN
11,10447.0,No Escape,"In the year 2022, a ruthless prison warden has...",1994-04-29,13.279,6.3,358.0,NaN
12,944152.0,Chokehold,"Evading a scandal, a couple from Istanbul star...",2023-04-21,13.277,5.5,36.0,NaN
13,411976.0,Novitiate,"In the early 1960s, during the Vatican II era,...",2017-10-27,13.277,6.4,142.0,NaN
14,309886.0,Blood Father,An ex-con reunites with his estranged wayward ...,2016-08-11,13.276,6.2,1394.0,NaN
15,11093.0,House of Sand and Fog,"Behrani, an Iranian immigrant buys a Californi...",2003-12-19,13.276,7.2,653.0,NaN
16,134597.0,The Collection,Arkin escapes with his life from the vicious g...,2012-09-21,13.275,6.3,898.0,NaN
17,3509.0,A Scanner Darkly,An undercover cop in a not-too-distant future ...,2006-07-07,13.275,6.8,1542.0,NaN
18,17961.0,Torment,An irritable and stressed-out hotel manager be...,1994-02-16,13.274,6.8,202.0,NaN
19,9327.0,The Nutty Professor,"Eddie Murphy stars as shy Dr. Sherman Klump, a...",1996-06-28,13.274,5.6,2644.0,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,results

In [56]:
storedata1=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=b375209d79c0875d0df3a3d9f382d0a8&language=en-US&page=2')

In [57]:
moviedff=pd.DataFrame(storedata.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [58]:
moviedff

,id,title,overview,release_date,popularity,vote_average,vote_count
0,455476,Knights of the Zodiac,"When a headstrong street orphan, Seiya, in sea...",2023-04-27,3362.234,6.6,348
1,385687,Fast X,Over many missions and against impossible odds...,2023-05-17,3202.443,7.4,2479
2,447365,Guardians of the Galaxy Vol. 3,"Peter Quill, still reeling from the loss of Ga...",2023-05-03,2239.681,8.1,2467
3,254128,San Andreas,In the aftermath of a massive earthquake in Ca...,2015-05-27,2234.498,6.2,7731
4,445651,The Darkest Minds,After a disease kills 98% of America's childre...,2018-07-25,1873.062,7.0,2448
5,406563,Insidious: The Last Key,Parapsychologist Elise Rainier and her team tr...,2018-01-03,1640.360,6.2,2486
6,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,1573.313,8.5,2093
7,603692,John Wick: Chapter 4,"With the price on his head ever increasing, Jo...",2023-03-22,1507.498,7.9,3559
8,502356,The Super Mario Bros. Movie,"While working underground to fix a water main,...",2023-04-05,1402.819,7.8,5458
9,667538,Transformers: Rise of the Beasts,When a new threat capable of destroying the en...,2023-06-06,1385.190,7.3,587
10,47964,A Good Day to Die Hard,"Iconoclastic, take-no-prisoners cop John McCla...",2013-02-06,1341.697,5.3,5901
11,976573,Elemental,"In a city where fire, water, land and air resi...",2023-06-14,1283.020,7.5,380
12,614479,Insidious: The Red Door,"To put their demons to rest once and for all, ...",2023-07-05,1219.176,6.4,52
13,664767,Mortal Kombat Legends: Scorpion's Revenge,After the vicious slaughter of his family by s...,2020-04-12,1218.242,8.2,1228
14,1103825,War of the Worlds: The Attack,Three young astronomers fight to survive a dea...,2023-04-21,1210.631,3.6,13
15,697843,Extraction 2,Tasked with extracting a family who is at the ...,2023-06-09,1186.015,7.6,1219
16,423108,The Conjuring: The Devil Made Me Do It,Paranormal investigators Ed and Lorraine Warre...,2021-05-25,1128.141,7.5,5173
17,1070802,Confidential Informant,During a crack epidemic two narcotics agents h...,2023-06-27,1119.723,5.8,25
18,396263,Gantz:O,After being brutally murdered in a subway stat...,2016-10-14,1005.320,7.3,643
19,841755,Mortal Kombat Legends: Battle of the Realms,The Earthrealm heroes must journey to the Outw...,2021-08-31,900.665,7.8,366

In [59]:
df3=pd.DataFrame()
df3

Empty DataFrame
Columns: []
Index: []

In [81]:
for j in range(1,500):
    storedata1=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=b375209d79c0875d0df3a3d9f382d0a8&language=en-US&page={}'.format(j))
    moviedff1=pd.DataFrame(storedata1.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    #df3 =df3.append(moviedff1,ignore_index=True)
    df3 = pd.concat([df3, moviedff1], ignore_index=True)

In [82]:
df3

,id,title,overview,release_date,popularity,vote_average,vote_count,0
0,30827.0,Deep Throat Part II,Nurse Linda Lovelace works for libidinous sex ...,1974-02-01,33.333,4.4,25.0,NaN
1,68737.0,Seventh Son,"John Gregory, who is a seventh son of a sevent...",2014-12-12,33.320,5.5,2327.0,NaN
2,1417.0,Pan's Labyrinth,Living with her tyrannical stepfather in a new...,2006-10-10,33.320,7.8,9704.0,NaN
3,617502.0,Jolt,A bouncer with an anger management problem goe...,2021-07-15,33.306,6.6,1085.0,NaN
4,251.0,Ghost,"Sam Wheat is a banker, Molly Jensen is an arti...",1990-07-12,33.275,7.2,5001.0,NaN
...,...,...,...,...,...,...,...,...
21916,9357.0,One Hour Photo,"Sy ""the photo guy"" Parrish has lovingly develo...",2002-08-21,11.541,6.6,1505.0,NaN
21917,865140.0,Chilangolandia,"Mexico City, or ""Chilangolandia,"" is a chaotic...",2021-09-16,11.540,7.1,94.0,NaN
21918,409.0,The English Patient,"In the 1930s, Count Almásy is a Hungarian map ...",1996-11-14,11.540,7.2,1887.0,NaN
21919,119900.0,D'Artagnan and the Three Musketeers,Exile and possibly death are in the cards for ...,2005-02-06,11.539,5.2,35.0,NaN
21920,37498.0,Knock Off,"Marcus Ray, a sales representative for ""V SIX""...",1998-09-04,11.539,5.2,290.0,NaN

In [83]:
df3.shape

(21921, 8)

In [84]:
df3.to_csv("G:\data enginner project\movie_population_api\movie_population.csv")